{% extends 'riplInd/master.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

<!--Specific Styles-->
{% block styles %}
<link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<!--Specific Scripts-->
{% block scripts %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock %}

{% block head %} 
<script>
$( document ).ready(function() {
$("").animate({width:'toggle'},1000);
});
</script>
{% endblock %}

<!--BODY-->	
{% block body %} 
{% block covertext %}
{% endblock %}

<section id="client" class="spacer-both sawtooth">
    <div class="container-fluid center" class="spacer-both">
        <div class="row">
	<div id="clientslider" class="slider">
		<ul id="clientlist" class="list">
	<li><img src="{% static 'images/logo_medanta.jpg' %}"><p>Rovio</p></li>
	<li><img src="{% static 'images/logo_pvr.jpg' %}">Google</li>
	<li><img src="{% static 'images/logo_pdf.png' %}">Food Network</li>
	<li><img src="{% static 'images/logo_medanta.jpg' %}">Rovio</li>
	<li><img src="{% static 'images/logo_pvr.jpg' %}">Google</li>
	<li><img src="{% static 'images/logo_pdf.png' %}">Food Network</li>
		<li><img src="{% static 'images/logo_pvr.jpg' %}">GOOGLE</li>
	<li><img src="{% static 'images/logo_pdf.png' %}">ADOBE</li>
	</ul>
	<ul id="clientdesc" class="sublist spacer-bottom">
	<li>

	
<section id="site" class="spacer-both sawtooth">
    <div class="container-fluid center">
        <div class="row">
		<div class="slider center" id="siteslider"> 
		
		<ul id="sitedesc" class="sublist spacer-bottom">
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-xs-12 center"><h3 class="title"><strong>No. of Projects: </strong>6</h3> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME THEATRE INSTALLED IN PVR SAKET</h3>
		</li>
		<li>
		<section id="duration" class="spacer-both">
    <div class="container-fluid center">
	<div class="row">
	<div class="col-md-4 col-md-offset-2 duration"><h3 class="title"><strong>Start Date</strong></h3><h4>22-Jan-15</h4> </div>
	<div class="col-md-4"><h3 class="title"><strong>End Date</strong></h3><h4>12-March-15</h4> </div>
	</div>
	</div>
	</section>
		<img src="{% static 'images/project.png' %}"><h3>HOME-THEATRE INSTALLED IN PVR SAKET</h3>
		</li>

		</ul>
		
		<ul id="sitelist" class="list">
		<li><img src="{% static 'images/pro-cat.png' %}"><p>Home-Theatre</p></li>
		<li><img src="{% static 'images/pro-cat-1.png' %}"><p>Cinema</p></li>
		<li><img src="{% static 'images/pro-cat-2.png' %}"><p>Single Seater</p></li>
		<li><img src="{% static 'images/pro-cat.png' %}"><p>Home Theatre</p></li>
		<li><img src="{% static 'images/pro-cat-1.png' %}"><p>Cinema</p></li>
		<li><img src="{% static 'images/pro-cat-2.png' %}"><p>Single Seater</p></li>
		<li><img src="{% static 'images/pro-cat.png' %}"><p>Home Theatre</p></li>
		<li><img src="{% static 'images/pro-cat-1.png' %}"><p>Cinema</p></li>
		<li><img src="{% static 'images/pro-cat-2.png' %}"><p>Single Seater</p></li>
		</ul>

		</div>
		</div>
		</div>
</section>


<section id="testimonial">
    <div class="container spacer-both">
       <div class="row">
	<div class="col-xs-12"><img src="{% static 'images/scrap-img.png' %}" class="guestimg"><h4>BOMAN IRANI</h4><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    </div>
</section>

	<section id="intro" class="spacer-both">
    <div class="container" id="intro-wrap">
	<h3>Project Highlights</h3>
        <div class="row">
		<div class="col-xs-12 center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="row center">
				 <div class="col-xs-3"><img src="{% static 'images/delivery.png' %}"><p>Home Delivery</p></div>
				 <div class="col-xs-3"><img src="{% static 'images/support.png' %}"><p>Continuous Support</p></div>
				 <div class="col-xs-3"><img src="{% static 'images/delivery.png' %}"><p>Home Delivery</p></div>
				 <div class="col-xs-3"><img src="{% static 'images/delivery.png' %}"><p>Home Delivery</p></div>
				 </div>
            </div>
			<div class="col-md-6">		
</div>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F127.0.0.1%3A8000%2Fproject&layout=button&mobile_iframe=true&width=58&height=20&appId" width="58" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" class="fbshare"></iframe>
        </div>
    </div>
</section>

<section id="accessory">
    <div class="container-fluid center" class="spacer-both">
	<h3>Accessories Used</h3>
        <div class="row">
		<div class="slider center" id="accslider"> 
		<ul id="acclist" class="list">
		<li><a href=""><div class="accwrap"><img src="{% static 'images/acc1.jpg' %}"></div><p>Home Theatre</p></a></li>
		<li><div class="accwrap"><img src="{% static 'images/acc2.jpg' %}"></div><p>Home Theatre</p></li>
		<li><div class="accwrap"><img src="{% static 'images/spare2.jpg' %}"></div><p>Home Theatre</p></li>
		<li><div class="accwrap"><img src="{% static 'images/acc3.png' %}"></div><p>Home Theatre</p></li>
		<li><div class="accwrap"><img src="{% static 'images/spare2.jpg' %}"></div><p>Home Theatre</p></li>

		</ul>
		</div>
		</div>
		</div>
</section>

	</li>
    </ul>
		</div>
		</div>
		</div>
</section>


{% endblock %}
