@import url(https://fonts.googleapis.com/css?family=Dosis);     	
	*
        {
            box-sizing: border-box;
        }
        html, body
        {
            height:100%;
            width:100%;
            margin:0;
			padding:0;
            font-family: 'Dosis', sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			letter-spacing: 1px;
			color: #333;
        }

        #footer
        {
            background:#333;
			color:white;
        }
        img 
        {
            max-width: 100%;
            height: auto;
        }
		a:link,a:visited,a:hover,a:active 
		{
			text-decoration: none;
			color:inherit;
		}
        .spacer-both
        {
            padding:45px 0;
        }
        
        .spacer-bottom
        {
            padding-bottom:3%;
        }
        
        .spacer-top
        {
            padding-top:5%;
        }
        /*SCROLLBAR*/
        ::-webkit-scrollbar 
        {

        }
     body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	background:wheat;
	border-left:solid 1px #ccc;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(10,10,10,0.6);
  outline: 1px solid slategrey;
}
         /*THEME*/
        .center
        {
            text-align:center;
        }
        .justify
        {
            text-align: justify;
        }
        .bold
        {
            font-weight:700;
        }
        .normal
        {
            font-weight:300;
        }
        .light
        {
            font-weight: 100;
        }

		.left
		{
			text-align:left;
		}
        .translate
		{
			transition: transform 0.7s linear;
		}
           .btn
        {
            position: relative;
        }
        .btn:before
        {
            position:absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background:#333;
        }
        /*CSS EFFECTS*/
        .link
        {
            position: relative;
			border: solid 1px black;
			height:40px;
			margin-top:10px;
			display:inline-block;
			padding:0px 10px;
			line-height:40px;
			cursor:pointer;
			background:rgba(0,0,0,0);
        }
        .link:before
        {
            content: "";
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
            transform:scaleX(0);
            transition: all 0.3s linear;
			background:black;
			transform-origin: left;
        }
     .link:hover
	 {
		 color:white;
	 }
        .link:hover:before
        {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
			color:white;
        }

         .reveal
		{
			transition: opacity 0.2s linear;
		}

        #hs-1
    {
        background:linear-gradient(to bottom, #151519 0%,rgba(21,21,25,0.9) 15%,rgba(21,21,25,0.7) 30%,rgba(21,21,25,0.6) 40%,rgba(21,21,25,0.5) 50%,rgba(21,21,25,0.4) 60%,rgba(21,21,25,0.3) 70%,rgba(21,21,25,0.2) 80%,rgba(21,21,25,0.1) 85%,rgba(21,21,25,0) 98%);
        position: absolute;
        width:100%;
        top:0;
        height:90px;
    }
        #hs-2
    {
        background:linear-gradient(to bottom, #151519 0%,rgba(21,21,25,0.9) 15%,rgba(21,21,25,0.7) 30%,rgba(21,21,25,0.6) 40%,rgba(21,21,25,0.5) 50%,rgba(21,21,25,0.4) 60%,rgba(21,21,25,0.3) 70%,rgba(21,21,25,0.2) 80%,rgba(21,21,25,0.1) 85%,rgba(21,21,25,0) 98%);
        position: absolute;
        width:100%;
        background: linear-gradient(to top, #151519 0%,rgba(21,21,25,0.9) 15%,rgba(21,21,25,0.7) 30%,rgba(21,21,25,0.6) 40%,rgba(21,21,25,0.5) 50%,rgba(21,21,25,0.4) 60%,rgba(21,21,25,0.3) 70%,rgba(21,21,25,0.2) 80%,rgba(21,21,25,0.1) 85%,rgba(21,21,25,0) 100%);
        bottom: 0;
        height:40px;
    }
	ul
	{	
		padding:0px;
		margin:0 auto;
		transition:all 0.5s ease-in;
		display: block;
		list-style-type:none;
		overflow:hidden;
		text-align:center;
	}
		li
	{
		float:left;
		transition:all 0.2s ease;
	}
		.outer
	{
		margin:0 auto;
	}
		.slider
	{
		position:relative;
	}
	.tie, .subtie
	{
		margin: 0 auto;
	}
		.viewport
	{
		overflow-x:hidden;
		margin: 0 auto;
	}
	.wrapper
	{
		margin:0 auto;
	}
		.next, .prev
	{
		display:none;
		cursor:pointer;
	}
		.prev
	{
		left: 10px;
		background: url(../images/left.png);
		background-size:40px 40px;
	}
		.next 
	{
		right: 10px;
		background: url(../images/right.png);
		background-size:40px 40px;
	}
		.nav-tag
	{
		position:absolute;
		z-index:10;
		width:40px;
		height:40px;
		top: 50%;
		transform: translateY(-50%);
	}

		.bg-img
	{
		width:100%;
		height:auto;
		min-height:320px;
	}
		.float
	{
		position:absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
				
		.relative
	{
		position:relative;
		outline-color:rgb(100,100,100);
	}

	.caption
	{
		background:#000;
		color:white;
		padding:10px 40px;
		vertical-align:middle;
		line-height:20px;
	}
	#tabs
	{
		background:#f2f2f2;
	}
	.tablist
	{

	}
	.tablist > li
	{
		padding:0px;
		padding-right:1px;
		height:50px;
		line-height:50px;
	}
	.tablist > li > a
	{
		display:block;
		transition:background 0.2s linear;
	}
	.tablist > li > a:hover
	{
		background:rgb(0,0,0);
		color:white;
	}
	[class*="col-"]
	{
		padding:15px;
	}
	#overlay-1
	{
		position:absolute;
		top:46%;
		left:42%;
		width:1%;
	}
	.list > *
	{
		float:left;
	}

	.list
	{
		padding:20px 0;
		overflow:hidden;
		transition:transform 0.4s linear;
	}
	.container-fluid
	{
		max-width:1600px;
	}
	.nopadding
	{
		padding:0px;
	}

#cover
{
	background:black;
	background-repeat:no-repeat;
	background-size:cover;
}
section
{
	position:relative;
}
.sawtooth:before
{
	content:'';
	width:100%;
	height:3px;
	position:absolute;
	z-index:9998;
	top:-3px;
	background:url(../images/sawtooth.png);
}
.header
	{
		position:fixed;
		right:0;
		left:0;
		top:0;
		padding:20px;
		line-height:40px;
		z-index:9999;
		transition:all 0.1s ease-in;
		-webkit-filter:brightness(0) invert(1);
	}
.header-after
{
	line-height:40px;
	-webkit-filter:brightness(1) invert(0);
	box-shadow: 0 5px 12px rgba(0,0,0,.7);
	background:#f2f2f2;
	opacity:0.9;
}
.logo
{
	height:94px;
	width:auto;
	transition: all 0.3s linear;	
}
.logo-after
{
	height:70px;
}
.navbar-after
{
	line-height:70px !important;
	transition: all 0.3s linear;
}
.headwrap
{
	max-width:1100px;
	margin:0 auto;
}
#logo
{
	float:left;
	padding:0 20px;
	cursor:pointer;
}
#nav
{
	float:right;
}
.navbar
{
	display:block;
	line-height:94px;
	float:right;
	transform:scale(1);
}

#burger
{
	display:none;
	width:100px;
	height:40px;
}
#burger, #nav
{
	float:right;
}
.navbar > li > a
{
	padding:0 15px;
}
		.grow
		{
			position:relative;
		}
		.grow:after
		{
			content:'';
			display:block;
			position:absolute;
			top:-10px;
			left:0;
			height: 3px;
			width: 100%;
			background: gray;
			transform: scaleX(0);
			transition: all 0.3s linear;
			transform-origin: left;
		}
		.grow:hover:after
		{
			transform:scaleX(1);
			color:red;
		}
	#burger > .top, .middle, .bottom
{
	height:1px;
	width:50px;
	position:absolute;
}

.navbar
{
	position:absolute;
	right:10px;
	z-index:10000;
	transition:all 0.3s linear;
}
	@media (max-width: 991px)
	{
		.navbar
		{
			transform:scaleX(0);
			max-width:300px;
			top:100%;
			box-shadow: 0 5px 12px rgba(0,0,0,.7);
			background:white;
		}
		.navbar > li
		{
			width:300px;
			line-height:50px;
			color:black;
			border-bottom:solid 1px #333;
		}
		.header
{
	line-height:40px;
	-webkit-filter:brightness(1) invert(0);
	box-shadow: 0 5px 12px rgba(0,0,0,.7);
	background:#f2f2f2;
	opacity:0.9;
}
.logo
{
	height:70px;
}
		#burger
		{
			display:block;
		}
	}
	@media (min-width: 992px)
	{
		.vlist
		{
			width:400px;
			float:right;
		}
	}

.callme
{
	background:rgba(0,0,0,0);
	border:none;
	padding:0;
}
.callme:before
{
    content:'';
	background-image: url('../images/right.png');
	background-repeat:no-repeat;
    background-size: 40px 40px;
	position:absolute;
	height:40px;
	width:40px;
	cursor:pointer;
	right:15px;
	top:15px;
	transition:transform 0.3s linear;
}
.callme:hover:before
{
	transform:rotate(-360deg);
}
 [data-anim-type="slideinleft"]
{
	transform:translate3d(-100%,0,0);
	transition: transform 0.3s linear;
}
[data-anim-type="slideinright"]
{
	transform:translate3d(100%,0,0);
	transition: transform 0.3s linear;
}
[data-anim-type="opacity"]
{
	opacity:0;
	transition: opacity 0.8s linear;
}
.opacity
{
	opacity:1;
}
.slideinleft, .slideinright
{
	transform:translate3d(0px,0px,0px);
}
.title
{
	color:#7f7fff;
}
.subtitle
{
	margin-bottom:36px;
}
.inkpot img
{
	max-width:80px;
	margin:0 auto 20px;
}
.dropdown > select
{
	width:100%;
	height:40px;
	padding-left:10px;
	cursor:pointer;
}
input[type="text"]
{
	width:100%;
	height:40px;
	padding-left:10px;
}
input[type="number"]
{
	width:100%;
	height:40px;
	padding-left:10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type="email"]
{
	width:100%;
	height:40px;
	padding-left:10px;
}
textarea
{
	width:100%;
	padding:10px;
	resize: vertical;
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: solid 1px black;
}
input[type="submit"]
{
	width:100px;
	height:40px;
	border:solid 1px #666;
}
input, select
{
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: solid 1px black;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
border:solid 1px black;
transition:all 0.2s linear;
}
input::-webkit-input-placeholder {
color: #ccc !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #ccc !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #ccc !important;  
}
 
input:-ms-input-placeholder {  
color: #ccc !important;  
}
.whitetext  input
{
	color:white;
	border-bottom: solid 1px white;

}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.flexi img
{
	transition:all 0.6s linear;
}

#info
		{
			background:url(../images/gotop.png) no-repeat;
			z-index:9999;
			width:50px;
			height:50px;
			position:fixed;
			bottom:10px;
			right:10px;
		}
		.faq-item:nth-last-child(1)
{
		border-bottom:1px solid black;
}
	.faq-item
	{
		cursor:pointer;
		line-height:50px;
	}
	.query
	{
		position:relative;
		padding-left:10px;
		border-top:solid 1px black;
		border-left:solid 1px black;
		border-right:solid 1px black;
	}
	.toggle
	{
	width:50px;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	border-bottom: 1px solid #fff;
}
	.before
	{
	content:'';
	margin:auto;
	height:20px;
	width:1px;
	position: absolute;
	left:0;
    top: 0;
    right: 0;
    bottom: 0;
	background: black;
	}
	.after
	{
	content:'';
	margin:auto;
	height:1px;
	width:20px;
	position: absolute;
	background: black;
	left:0;
    top: 0;
    right: 0;
    bottom: 0;
	}
	.rotate
	{
		transform:rotate(-45deg);
	}
	.togglewrap
	{
		width:100%;
		height:100%;
		transition:transform 0.3s linear, background 0.3s linear;
	}
	.answer
	{
		display:none;
		background:#d3d3d3;		
		padding:10px;
	}

	.active .answer
	{
		display:block;
	}
		#covertext
		{
			color:white;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate3d(-50%,-50%,0px);
		}
.display
{
	transform:scale(1);
	transition:all 0.4s linear;
}


#nav-icon2{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
